body {
  background-color: Azure;
}

h1,h2,h3,h4,h5,h6{
  margin:0 0 10px 0;
  padding:0;
}

h1 {
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

h2 {
  border-bottom: 2px solid rgba(42, 59, 66, 0.5);
  color: Black;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

p {
  color: rgb(35, 12, 232);
  color: rgba(35, 12, 232, 0.4);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

li {
  color: Brown;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.page {
  width:800px;
  margin:0 auto;
  padding:20px;
  background:#fff;
  border:1px solid #eee;
}