* {
  background-color: Azure;
  font-family: 'Arial', 'Times', serif;
}

.header {
  background-position: center center;
  height: 50px;  
}

h1 {
  color: Red;	
}

p {
  color: rgb(35, 12, 232);
  color: rgba(35, 12, 232, 0.4);
  font-size: 20px;
}

li {
  color: Brown;
  font-family: Garamond;
  font-size: 14px;
}